body {
    font: Montserrat;
}

.search-cont {
    align-content: center;
    width: 95%;
    padding: 5px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

input {
    width: 100%;
    padding: 1%;
}

.display {
    display: flex;
}

.video-display {
    padding: 2%;
    width: 60vw;
}

.video-display iframe {
    width: 100%;
    height: 25%;
    border: 2px black solid;
}

.video-display h4 {
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

.video-display div {
    border-bottom: 2px solid black;
}

.loading {
    padding: 2%;
}